{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}E-learning{% endblock %}</title>
   <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
  integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
  crossorigin="anonymous"
/>
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous"
/>
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/mode/python/python.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/theme/ayu-dark.min.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="{% static 'students/css/sidebar.css' %}" />
  <link rel="stylesheet" href="{% static 'students/css/subject_list.css' %}" />
  <link rel="stylesheet" href="{% static 'students/css/base.css'%}" />
  <link rel="stylesheet" href="{% static 'students/css/sidebar.css'%}" />
  <link rel="stylesheet" href="{% static 'students/css/header.css'%}" />
  <link rel="stylesheet" href="{% static 'students/css/task_list.css'%}" />
  <link rel="stylesheet" href="{% static 'students/css/submit_solution.css'%}" />
  <link rel="stylesheet" href="" id="theme" />
</head> 
<body>
  <header class="header fixed-top">
    
    {% if request.user.is_authenticated %}
    <div class="header-profile">
      <i onclick="changeTheme()" class='bx bx-moon'></i>
      <img class="header-profile-avatar" src="{{ student.avatar.url }}"></img>
      <div class="header-profile-info">
          {{ student.first_name }} {{ student.last_name }}
      </div>
      <a class="logout" href="{% url 'students:logout' %}">
        <i class="bx bx-log-out"></i>
      </a>
    </div>
    {% endif %}
  </header>
  <nav class="sidebar">
    <p class="sidebar-title">E-learning</p>
    <ul class="nav-link">
      <li>
        <a {% if section == "profile" %} class="selected" {% endif %} class="sidebar-link" href="#">
          <i class="bx bx-user-circle"></i>
          <span>Профиль</span>
        </a>
      </li>
      <li>
        <a {% if section == "subjects" %} class="selected" {% endif %} class="sidebar-link" href="{% url 'students:subject_list' %}">
          <i class="bx bx-book"></i>
          <span>Предметы</span>
        </a>
      </li>
      <li >
        <a class="sidebar-link" href="#">
          <i class="bx bx-conversation"></i>
          <span>Форум</span>
        </a>
      </li>
      <li class="support">
        <a class="sidebar-link" href="#">
          <i class="bx bx-support"></i>
          <span>Поддержка</span>
        </a>
      </li>
    </ul>
    <div class="line"></div>
    <span class="year">&copy; {{ current_year }}<span class="copyright"> E-learning</span></span>
    <span class="version">Версия: {{ project_version }}</span>
  </nav>
  <main>
    {% block content %}{% endblock %}
  </main>
  <script>
    let theme = document.getElementById("theme");
    function changeTheme() {
      if (theme.getAttribute("href") === "") {
      theme.href = "{% static 'students/css/dark-theme.css'%}";  
      document.querySelector("i").classList.replace("bx-moon", "bx-sun");
      localStorage.setItem("theme", "{% static 'students/css/dark-theme.css'%}");
      }
      else {
      theme.href = "";
      document.querySelector("i").classList.replace("bx-sun", "bx-moon")
      localStorage.setItem("theme", "");
      }
    }
    let activeTheme = localStorage.getItem("theme");
    if (activeTheme === null || activeTheme === "") {
      theme.href = activeTheme;
      document.querySelector("i").classList.replace("bx-sun", "bx-moon")
    }
    else if (activeTheme === "{% static 'students/css/dark-theme.css'%}") {
      theme.href = activeTheme;
      document.querySelector("i").classList.replace("bx-moon", "bx-sun")
    }
  </script>
</body>
</html>
