<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>web-course</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/mode/python/python.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/theme/monokai.min.css">

  <style>
    .CodeMirror {
    font-size: 16px; 
    width: 1000px;
    height: 500px;
  }

  .progress-bar {
  width: 500px;
  height: 20px;
  background-color: #ccc;
  border-radius: 10px;
  margin-top: 5px;
}

.progress {
  height: 100%;
  background-color: #4caf50;
  border-radius: 10px;
  transition: width 0.3s ease-in-out;
}
  </style>
</head>
<body>
    <header>
        <h1>страницы студента</h1>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>