{% extends 'students/base_with_sidebar.html' %}

{% block content %}
<br>
<a href="#" class="task-nav-item">Список предметов</a>
<section class="subject-list-window">
  <div class="subject-list-title">Список предметов</div>
  <div class="subject-list-line"></div>
  <div class="subject-list">
    {% for data in subject_data %}
      <a class="nav-link" href="{% url 'students:task_list' data.subject.slug %}">
        <article class="subject">
            <div class="subject-name">
              {{ data.subject.name }}
            </div>
            <img class="subject-logo" src="{{ data.subject.image.url }}" alt="{{ subject.name }} Image">
            <p class="progress-score">Прогресс выполнения: <span style="color: #3975E7;">{{ data.completion_percentage }}%</span></p>
            <div class="progress-bar">
              <div class="progress" data-percentage="{{ data.completion_percentage }}"></div>
            </div>
        </article>
      </a>
    {% endfor %}
  </div>
</section>
  <script>
    // Получаем все элементы с классом "progress"
    const progressBars = document.querySelectorAll('.progress');
  
    // Проходимся по каждому элементу и устанавливаем ширину в зависимости от data-percentage
    progressBars.forEach(progressBar => {
      const percentage = progressBar.getAttribute('data-percentage');
      if (percentage !== 0) {
      progressBar.style.width = percentage + '%';
      }
    });
  </script>
{% endblock %}