{% extends 'students/base_with_sidebar.html' %}

{% block content %}
<div class="task-navbar">
  <a href="{% url 'students:subject_list'%}" class="task-nav-item">Список предметов</a>
  <span class="task-arrow">></span>
  <a href="#" class="task-nav-item">{{ subject.name }}</a>
</div>
<section class="task-info">
  <aside class="tasks">
    <p class="submit-task-name">{{ subject.name }}</p>
    <p class="submit-task-list">Список заданий</p>
    {% for task in tasks %}
    <div class="submit-tasks"><a href="{% url 'students:submit_solution' subject.slug task.slug %}">{{ task.title }}</a>
        {% if task in completed_tasks %}
          <div class="task-indicator-done"></div>
        {% else %}
          <div class="task-indicator"></div>
        {% endif %}
      </div> 
    {% endfor %}
  </aside>
  <div class="task-detail">
    <p class="task-title">{{ task.title }}. 
      {% if task in completed_tasks %}
        <span class="task-status-done">Выполнено</span></p>
      {% else %}
        <span class="task-status">Не выполнено</span></p>
      {% endif %}
    <div class="task-submit">
      <div class="description">Описание</div>
      <div class="task-description">{{ task.description }}</div>
      <form method="post">
        {% csrf_token %}
        <textarea id="code-editor" name="code">{{ form.code.value|default:'' }}</textarea>
        <button class="submit-button" type="submit">Отправить решение</button>
      </form>
    </div>
  </div>
</section>


{% endblock %}