{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}E-learning{% endblock %}</title>
  <!-- jQuery -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  
  <!-- Bootstrap -->
  <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
  integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
  crossorigin="anonymous"
  />

  <!-- Иконки boxicons -->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

  <!-- Devexpress -->
  <link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/23.1.4/css/dx.light.css">
  <script type="text/javascript" src="https://cdn3.devexpress.com/jslib/23.1.4/js/dx.all.js"></script>

  <!-- Собственные стили -->
  <link rel="stylesheet" href="{% static 'teachers/css/subject_list.css' %}" />
  <link rel="stylesheet" href="{% static 'teachers/css/base.css'%}" />
  <link rel="stylesheet" href="{% static 'teachers/css/sidebar.css'%}" />
  <link rel="stylesheet" href="{% static 'teachers/css/header.css'%}" />
  <link rel="stylesheet" href="{% static 'teachers/css/task_list.css'%}" />
  <link rel="stylesheet" href="{% static 'teachers/css/subject_statisctics.css'%}" />
  <link rel="stylesheet" href="{% static 'teachers/css/task_add.css'%}" />
  <link rel="stylesheet" href="{% static 'teachers/css/task_detail.css'%}" />
  <link rel="stylesheet" href="{% static 'students/css/submit_solution.css'%}" />
  <!-- Темная тема -->
  <link rel="stylesheet" href="" id="theme" />
</head> 
<body>
  <header class="header fixed-top">
    {% if request.user.is_authenticated %}
    <div class="header-profile">
      <i onclick="changeTheme()" class='bx bx-moon'></i>
      <div class="header-profile-info">
          {{ teacher.first_name }} {{ teacher.last_name }}
      </div>
      <a class="logout" href="{% url 'teachers:logout' %}">
        <i class="bx bx-log-out"></i>
      </a>
    </div>
    {% endif %}
  </header>
  <nav class="sidebar">
    <p class="sidebar-title">E-learning</p>
    <ul class="nav-link">
      <li>
        <a {% if section == "profile" %} class="selected" {% endif %} class="sidebar-link" href="#">
          <i class="bx bx-user-circle"></i>
          <span>Профиль</span>
        </a>
      </li>
      <li>
        <a {% if section == "subjects" %} class="selected" {% endif %} class="sidebar-link" href="{% url 'students:subject_list' %}">
          <i class="bx bx-book"></i>
          <span>Предметы</span>
        </a>
      </li>
      <li >
        <a class="sidebar-link" href="#">
          <i class="bx bx-conversation"></i>
          <span>Форум</span>
        </a>
      </li>
      <li class="support">
        <a class="sidebar-link" href="#">
          <i class="bx bx-support"></i>
          <span>Поддержка</span>
        </a>
      </li>
    </ul>
    <div class="line"></div>
    <span class="year">&copy; {{ current_year }}<span class="copyright"> E-learning</span></span>
    <span class="version">Версия: {{ project_version }}</span>
  </nav>
  <main>
    {% block content %}{% endblock %}
  </main>
  <script>
    let theme = document.getElementById("theme");
    function changeTheme() {
      if (theme.getAttribute("href") === "") {
      theme.href = "{% static 'students/css/dark-theme.css'%}";  
      document.querySelector("i").classList.replace("bx-moon", "bx-sun");
      localStorage.setItem("theme", "{% static 'students/css/dark-theme.css'%}");
      }
      else {
      theme.href = "";
      document.querySelector("i").classList.replace("bx-sun", "bx-moon")
      localStorage.setItem("theme", "");
      }
    }
    let activeTheme = localStorage.getItem("theme");
    if (activeTheme === null || activeTheme === "") {
      theme.href = activeTheme;
      document.querySelector("i").classList.replace("bx-sun", "bx-moon")
    }
    else if (activeTheme === "{% static 'students/css/dark-theme.css'%}") {
      theme.href = activeTheme;
      document.querySelector("i").classList.replace("bx-moon", "bx-sun")
    }
  </script>
</body>
</html>