{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>E-learning</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="{% static 'students/css/login.css'%}" />
  <link rel="stylesheet" href="{% static 'students/css/header.css'%}" />
  <link rel="stylesheet" href="{% static 'students/css/base.css'%}" />
</head> 
<body>
  <header class="header fixed-top">
    <a class="header-title" href="/">Elearning</a>
    {% if request.user.is_authenticated %}
    <div class="header-profile">
      <div class="header-profile-info">
        <div class="student">
          {{ teacher.first_name }} {{ teacher.last_name }}
        </div>
      </div>
      <a class="logout" href="{% url 'teachers:logout' %}">
        <i class="bx bx-log-out"></i>
      </a>
    </div>
    {% endif %}
  </header>
    {% block content %}{% endblock %}
</body>
</html>
