{% extends 'teachers/base.html' %}

{% block content %}
<style>
    .table {
    border-collapse: collapse;
    width: 100%;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table th {
    background-color: #f2f2f2;
}
</style>
<h1>Статистика по предмету: {{ subject.name }}</h1>
<h2><a href="{% url 'teachers:task_list' subject.slug %}">Список заданий</a></h2>
<h2><a href="{% url 'teachers:subject_statistics' subject.slug %}">Статистика студентов</a></h2>


<form method="GET" action="{% url 'teachers:subject_statistics' subject.slug %}">
    <label for="search_student">Поиск студента: </label>
    <input type="text" name="search_student" id="search_student" value="{{ search_student }}">
    <input type="submit" value="Поиск">
    {% if search_student %}
        <a href="{% url 'teachers:subject_statistics' subject.slug %}" class="btn btn-secondary">Сбросить поиск</a>
    {% endif %}
</form>

{% if search_student and not student_statistics %}
    <p>Студент не найден.</p>
{% endif %}


<table class="table">
    <thead>
        <tr>
            <th>Студент</th>
            {% for task in tasks %}
                <th>{{ task.title }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for student, statistics in student_statistics.items %}
        <tr>
            <td>{{ student.get_full_name }}</td>
            {% for submission_id in statistics %}
                <td>
                    {% if submission_id != None %}
                        <a href="{% url 'teachers:view_submission' submission_id=submission_id %}">
                            {% if submission_id %}
                                <span class="positive">+</span>
                            {% else %}
                                <span class="negative">-</span>
                            {% endif %}
                        </a>
                    {% else %}
                        <span class="negative">-</span>
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}