{% extends 'teachers/base_with_sidebar.html' %}

{% block content %}
<div class="subject-statisctics-title">Статистика по предмету: {{ subject.name }}</div>
<span class="task-list-selector"><a href="{% url 'teachers:task_list' subject.slug %}">Список заданий</a></span>
<span class="task-list-selector"><a href="{% url 'teachers:subject_statistics' subject.slug %}">Статистика студентов</a></span>
<div class="line"></div>


<div class="table">
    <div id="dataGrid" class="data-grid"></div>
</div>

<script>
    const studentsData = JSON.parse('{{ students_data_json|escapejs|safe }}');

    
    $(function() {
        $("#dataGrid").dxDataGrid({
            dataSource: studentsData,
            columns: [
                { 
                dataField: "student", 
                caption: "Студент",
                width: 300,
                },
                ...studentsData[0].assignments.map((assignment, index) => ({
                    dataField: `assignments[${index}].completed`,
                    caption: assignment.name,
                    dataType: "boolean",
                    width: 150,
                })),
            ],
            filterRow: { visible: true },
            searchPanel: { visible: true },
            scrolling: {
                mode: "standard"
            },
            selection: {
                mode: "single" // or "multiple" | "none"
            }
        });
    });
</script>
{% endblock %}