{% extends 'teachers/base.html' %}

{% block content %}
<h1>{{ task.subject }} - {{ task.title }}</h1>
<p class="task-description">{{ task.description }}</p>

<h2>Тесты:</h2>
{% for test in tests %}
    {% if task.test_code %}
        <h2>Код для тестирования:</h2>
        <pre>{{ task.test_code }}</pre>
    {% endif %}
    <h3>Тест {{ forloop.counter }}</h3>
    <p><strong>Ожидаемый ввод:</strong> {{ test.input | safe }}</p>
    <p><strong>Ожидаемый вывод:</strong> {{ test.output | safe }}</p>
{% endfor %}
{% endblock %}