{% extends 'teachers/base_with_sidebar.html' %}

{% block content %}
<div class="task-list-title">Список заданий по предмету: {{ subject.name }}</div>
<span class="task-list-selector"><a href="{% url 'teachers:task_list' subject.slug %}">Список заданий</a></span>
<span class="task-list-selector"><a href="{% url 'teachers:subject_statistics' subject.slug %}">Статистика студентов</a></span>
<div class="line"></div>
<span class="task-list">Список заданий</span>
<span><a href="{% url 'teachers:task_add' subject.slug %}"><button class="add-task">Добавить задание</button></a></span>
    {% for task in tasks %}
            <a href="#" class="open-popup" data-task-url="{% url 'teachers:task_detail' task.slug %}"><div class="task">{{ task.title }}</div></a>  
    {% endfor %}



<div id="popup" class="popup">
    <div class="popup-content">
        <span class="close-popup">&times;</span>
        <div id="popup-content-placeholder"></div>
    </div>
</div>

<script>
    // Получаем ссылки, которые открывают попап
    const openPopupLinks = document.querySelectorAll('.open-popup');

    // Получаем элементы попапа и его контента, а также кнопку закрытия
    const popup = document.getElementById('popup');
    const popupContent = document.getElementById('popup-content-placeholder');
    const closePopupButton = document.querySelector('.close-popup');

    // Добавляем обработчики событий для каждой ссылки, открывающей попап
    openPopupLinks.forEach(link => {
        link.addEventListener('click', function (event) {
            event.preventDefault(); // Отменяем стандартное действие ссылки
            const taskUrl = this.getAttribute('data-task-url'); // Получаем URL задания

            // Загружаем содержимое задания с сервера и отображаем в попапе
            fetch(taskUrl)
                .then(response => response.text())
                .then(html => {
                    popupContent.innerHTML = html; // Вставляем полученное HTML-содержимое
                    popup.style.display = 'block'; // Открываем попап
                });
        });
    });
    
    // Обработчик клика на кнопку закрытия попапа
    closePopupButton.addEventListener('click', function () {
        popup.style.display = 'none'; // Закрываем попап
        popupContent.innerHTML = ''; // Очищаем содержимое попапа
    });
</script>
{% endblock %}