.sidebar ul li a {
    color: white;
    background-color: #333;
}

.header {
    background-color: #151515;
    border-bottom-color: #444;
}

.subject-list-window, .subject-statisctics{
    background-color: #141414;
    border: 2px solid #3f3f3f;
}

.bx-sun {
    background-color: #4A350D;
}

body {
    background-color: #151515;
    color: white;
}

.subject, .module, .task, .sidebar {
    background-color: #262626;
}

.modules, .task-description {
    color: #fff;
}

.task-nav-item:hover {
    background-color: #092547;
  }

.task-list-selector a, .task, .submit-task-list, .task-title, .description, .header-profile-info, .logout {
    color: #fff;
}

.logout:hover {
    background-color: #fff;
    color: black;
}

.line {
    background-color: #444;
}

.tasks {
    background-color: #0C0C0C;
}

.submit-tasks {
    background-color: #1C1C1C;
}

.task-info, .CodeMirror {
    border: 2px solid #3f3f3f;
    background-color: #1D1D1D !important;
    caret-color: white !important;

}

.CodeMirror-linenumbers {
    background-color: #161616;
}


.cm-variable {
    color: #ffffff !important;
  }

.CodeMirror {
    color: white !important;
}

.tasks {
    border-right: 2px solid #3f3f3f;
}

.task-submit {
    border-top: 2px solid #3f3f3f;
}


.code-editor {
  caret-color: white !important;
}

.CodeMirror-cursor {
    border-left: 2px solid rgb(255, 255, 255);
  }

