.header {
  position: sticky;
  width: 100vw;
  background-color: #fff;
  display: flex;
  line-height: 40px;
  height: auto;
  padding: 10px 0px;
  border-bottom: 1px solid #d4d4d6;
  display: flex;
  z-index: 0;
}

.header-title {
  color: black;
  display: flex;
  align-self: center;
  font-size: 30px;
  text-decoration: none;
  margin-top: 5px;
  font-weight: bold;
}

.header-title:hover {
  text-decoration: none;
  color: #fff;
}

.header-profile {
  color: black;
  display: flex;
  justify-content: center;
  margin-left: auto;
  align-items: center;
}

.header-profile-info {
  font-size: 18px;
  margin: 0 15px;
  line-height: 25px;
}

.header-profile-avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.logout:hover {
  background-color: #222222;
  border-radius: 12px;
  transition-duration: 0.5s;
  color: #fff;
  text-decoration: none;
}

.logout {
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  font-size: 30px;
  margin-right: 25px;
  text-decoration: none;
  white-space: nowrap;
  color: black;
}