.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: 6px 14px;
  top: 0;
  height: 98%;
  width: 270px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 12px;
  background: #e4e4e4;
}

.sidebar-title {
  align-self: center;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 30px;
}

.logo {
  height: 20px;
  width: 20px;
  position: relative;
  top: 14px;
  margin-bottom: 40px;
}

.sidebar ul li {
  position: relative;
  height: 48px;
  width: 100%;
  margin: 0 0px;
  line-height: 20px;
  font-size: 20px;
  list-style-type: none;
}

.sidebar-link {
  color: gray;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 5px;
  white-space: nowrap;
}

.sidebar ul li a {
  background-color: #d9d9d9;
}

.sidebar ul li a:hover {
  background: #fff;
  color: #222222;
  text-decoration: none;
}

.sidebar ul li a i {
  font-size: 20px;
  height: 35px;
  border-radius: 12px;
  line-height: 35px;
  text-align: center;
  margin-right: 20px;
  margin-left: 10px;
}

.selected {
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 12px;
  white-space: nowrap;
  background: #0078D7;
  color: #ffffff;
  pointer-events: none;
}

.bxs-sun {
  position: relative;
  z-index: 1;
  font-size: 20px;
  left: 35px;
  top: 10px;
  color: black;
  cursor: pointer;
}

.bxs-moon {
  position: relative;
  z-index: 1;
  font-size: 20px;
  float: right;
  right: 34px;
  top: 10px;
  cursor: pointer;
  color: gray;
}

.line {
  background-color: #d4d4d4;
  height: 3px;
  width: 270px;
  margin-left: -14px;
  margin-bottom: 10px;
  margin-top: auto;
}

.copyright {
  color: #0075ff;
  font-size: 15px;
}

.version, .year {
  font-size: 15px;
  color: #696969;
}

.support {
  margin-top: auto;
}

.bx-sun, .bx-moon {
  background-color: #FDF6EA;
  margin: 10px;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F4A614;
  font-size: 20px;
  border-radius: 8px;
  cursor: pointer;
}

.bx-moon:hover, .bx-sun:hover {
  background-color: #07011B;
  color: #fff;
}